<a href="https://colab.research.google.com/github/Aashrit77/Python/blob/main/EDA_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [2]:
data = pd.read_csv("/content/iris.csv")
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [3]:
data1 = data.copy()

In [4]:
labelencoder = LabelEncoder()
data1.iloc[:,-1] = labelencoder.fit_transform(data1.iloc[:,-1])

In [5]:
data1.head()

   sepal.length  sepal.width  petal.length  petal.width  variety
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

#Using OneHotEncoding:

In [6]:
data2 = pd.read_csv("/content/iris.csv")
data2.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [7]:
pd.get_dummies(data2)

     sepal.length  sepal.width  ...  variety_Versicolor  variety_Virginica
0             5.1          3.5  ...                   0                  0
1             4.9          3.0  ...                   0                  0
2             4.7          3.2  ...                   0                  0
3             4.6          3.1  ...                   0                  0
4             5.0          3.6  ...                   0                  0
..            ...          ...  ...                 ...                ...
145           6.7          3.0  ...                   0                  1
146           6.3          2.5  ...                   0                  1
147           6.5          3.0  ...                   0                  1
148           6.2          3.4  ...                   0                  1
149           5.9          3.0  ...                   0                  1

[150 rows x 7 columns]

#Isolation forest

In [8]:
from sklearn.ensemble import IsolationForest

In [9]:
data = pd.read_csv("/content/iris.csv")
data_encoded = pd.get_dummies(data)

In [10]:
#training the model
clf = IsolationForest(random_state=10,contamination=0.01) #contamination is based on the domain knowledge how many outliers could you expect
clf.fit(data_encoded) #n_estimators means the number of isolation trees

IsolationForest(behaviour='deprecated', bootstrap=False, contamination=0.01,
                max_features=1.0, max_samples='auto', n_estimators=100,
                n_jobs=None, random_state=10, verbose=0, warm_start=False)

In [11]:
#predictions:
y_pred_outliers = clf.predict(data_encoded)

In [12]:
y_pred_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [13]:
#now lets add a row to check  the weather the algo works:
data_encoded

     sepal.length  sepal.width  ...  variety_Versicolor  variety_Virginica
0             5.1          3.5  ...                   0                  0
1             4.9          3.0  ...                   0                  0
2             4.7          3.2  ...                   0                  0
3             4.6          3.1  ...                   0                  0
4             5.0          3.6  ...                   0                  0
..            ...          ...  ...                 ...                ...
145           6.7          3.0  ...                   0                  1
146           6.3          2.5  ...                   0                  1
147           6.5          3.0  ...                   0                  1
148           6.2          3.4  ...                   0                  1
149           5.9          3.0  ...                   0                  1

[150 rows x 7 columns]

In [14]:
data_encoded.loc[150]=[20,40,30,50,1,0,0]

In [15]:
data_encoded

     sepal.length  sepal.width  ...  variety_Versicolor  variety_Virginica
0             5.1          3.5  ...                   0                  0
1             4.9          3.0  ...                   0                  0
2             4.7          3.2  ...                   0                  0
3             4.6          3.1  ...                   0                  0
4             5.0          3.6  ...                   0                  0
..            ...          ...  ...                 ...                ...
146           6.3          2.5  ...                   0                  1
147           6.5          3.0  ...                   0                  1
148           6.2          3.4  ...                   0                  1
149           5.9          3.0  ...                   0                  1
150          20.0         40.0  ...                   0                  0

[151 rows x 7 columns]

In [16]:
y_pred = clf.predict(data_encoded)

In [17]:
y_pred

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1])

In [18]:
data_encoded["scores"] = clf.decision_function(data_encoded)
data_encoded["anamoly"] = clf.predict(data_encoded.iloc[:,0:7])

In [19]:
data_encoded

     sepal.length  sepal.width  ...    scores  anamoly
0             5.1          3.5  ...  0.206399        1
1             4.9          3.0  ...  0.186115        1
2             4.7          3.2  ...  0.172524        1
3             4.6          3.1  ...  0.171698        1
4             5.0          3.6  ...  0.201510        1
..            ...          ...  ...       ...      ...
146           6.3          2.5  ...  0.121686        1
147           6.5          3.0  ...  0.170538        1
148           6.2          3.4  ...  0.100962        1
149           5.9          3.0  ...  0.162851        1
150          20.0         40.0  ... -0.075612       -1

[151 rows x 9 columns]

In [20]:
#to check the rows of outliers
data_encoded[data_encoded["anamoly"]==-1]

     sepal.length  sepal.width  ...    scores  anamoly
106           4.9          2.5  ... -0.007087       -1
118           7.7          2.6  ... -0.004604       -1
150          20.0         40.0  ... -0.075612       -1

[3 rows x 9 columns]

In [21]:
!pip install ppscore

Collecting ppscore
  Downloading ppscore-1.2.0.tar.gz (47 kB)
     |████████████████████████████████| 47 kB 2.3 MB/s
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ppscore) (1.1.5)
Requirement already satisfied: scikit-learn<1.0.0,>=0.20.2 in /usr/local/lib/python3.7/dist-packages (from ppscore) (0.22.2.post1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas<2.0.0,>=1.0.0->ppscore) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (1.0.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (1.4.1)
Building wheels for collected packages: ppscore
  Building wheel for ppscore (setup.py) ... done
  Created wheel for ppscore: filename=ppscore-1.2.0-py2.py3-none-any.whl size=13068 sha256=a982c5cd9fac2ddb1452ff3d3548c9c87de80048efb7a35863c5d4bef64d5d81
  Stored in directory: /root/.cache/pip/wheels/d2/3c/58/2ff786414b21713edc6f4fdb54fdee89ac37bca5edd1f60634
Successfully built ppscore
Installing collected packages: ppscore
Successfully installed ppscore-1.2.0

In [22]:
import ppscore as pps

In [23]:
#syntax for pps:
#pps.score(df,"Feature_col(x)","target_col(y)") how strong is x in predicting y
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [24]:
pps.score(data,"sepal.length","petal.length") #model Score -> cart value

{'baseline_score': 1.4886666666666668,
 'case': 'regression',
 'is_valid_score': True,
 'metric': 'mean absolute error',
 'model': DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best'),
 'model_score': 0.6692708968366863,
 'ppscore': 0.550422595049248,
 'x': 'sepal.length',
 'y': 'petal.length'}

In [25]:
#to cal the whole pps matrix
pps.matrix(data)

               x  ...                                              model
0   sepal.length  ...                                               None
1   sepal.length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
2   sepal.length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
3   sepal.length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
4   sepal.length  ...  DecisionTreeClassifier(ccp_alpha=0.0, class_we...
5    sepal.width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
6    sepal.width  ...                                               None
7    sepal.width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
8    sepal.width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
9    sepal.width  ...  DecisionTreeClassifier(ccp_alpha=0.0, class_we...
10  petal.length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
11  petal.length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
12  petal.length  ...                                               None
13  petal.length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
14  petal.length  ...  DecisionTreeClassifier(ccp_alpha=0.0, class_we...
15   petal.width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
16   petal.width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
17   petal.width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
18   petal.width  ...                                               None
19   petal.width  ...  DecisionTreeClassifier(ccp_alpha=0.0, class_we...
20       variety  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
21       variety  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
22       variety  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
23       variety  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
24       variety  ...                                               None

[25 rows x 9 columns]